
{% extends 'base.html' %}
{% load static %}

{% block title %}Home
<h1>Welcome to Our Website</h1>
<a href="{% url 'register' user_type='general' %}" class="btn btn-primary">Register as User</a>
<a href="{% url 'register' user_type='staff' %}" class="btn btn-secondary">Register as Staff</a>

{% endblock %}

{% block content %}
<div class="container-fluid hero-section">
    <div class="row">
        <div class="col-10 mx-auto my-5">
            <h1 class="main-title">RAGE ROOM</h1>
        </div>
    </div>
    <div class="row hero-section">
        <div class="col-6 hero-section__create d-flex justify-content-center align-items-center">
            <a href="{% url 'create_event' %}" class="btn btn-primary rounded-0 btn-large px-5 py-3 create-event__btn">create event</a>
        </div>
        <div class="col-6 hero-section__view d-flex justify-content-center align-items-center">
            <a href="{% url 'events-list' %}" class="btn btn-primary rounded-0 btn-large px-2 view-events__btn">view events</a>
        </div>
    </div>
</div>
<a href="{% url 'register' user_type='general' %}" class="btn btn-primary">Register as User</a>
<a href="{% url 'register' user_type='staff' %}" class="btn btn-secondary">Register as Staff</a>
{% endblock %}