
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid hero-section">
    <div class="row">
        <div class="col-12 mx-auto main-title__wrapper">
            <h1 class="main-title">RAGE ROOM</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 hero-section__create d-flex justify-content-center align-items-center">
            <a href="{% url 'create_event' %}" class="btn btn-primary rounded-0 btn-large px-5 py-3 create-event__btn">create event</a>
        </div>
        <div class="col-6 hero-section__view d-flex justify-content-center align-items-center">
            <a href="{% url 'events-list' %}" class="btn btn-primary rounded-0 btn-large px-5 py-3 view-events__btn">view events</a>
        </div>
    </div>
</div>
{% endblock %}