{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=1roesx7pDiz3FW-i-HBvN5ZLmgJIInWPZ" alt="Gallery Image">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=1hXfaeJ3HpilWI4XtqE2ZQ0VrCJMftE34" alt="Gallery Image">
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=1i3nh9LrsiDIIa_R86bfOGqMOh8UxC4q2" alt="Gallery Image">
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=1vZBIh4Xpj6kt7WH_YkkV6nR4OwrqwwHK" alt="Gallery Image">
        </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=13qQqJtObcuG8D7WjIA_KNxbklzbo2GXk" alt="Gallery Image">
        </div>
    </div>

   
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=1GCao8d77Gq6s9UesVkK-FidCoFNUb8mf" alt="Gallery Image">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=1WKq6ZBFz-GDlCmq2N9Ll0nYNg4ANk8cN" alt="Gallery Image">
        </div>
    </div>

  
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card img-fluid">
            <img src="https://drive.google.com/uc?id=1ULl-ucH5M7zd4DXRX-O-wmK1oFS4XtIz" alt="Gallery Image">
        </div>
    </div>

   
</div>
{% endblock %}