{% extends 'base.html' %}
{% load static %}

{% block title %}Events Diary{% endblock %}

{% block content %}
<section class="event-list-section">
    <div class="container-fluid">
        <div class="row">
            <h1 class="main-title">YES</h1>
        </div>
        <div class="row justify-content-center align-items-center ">
            {% if events %}
    
        {% for event in events %}
            <div class="col-12 col-md-6 col-lg-4 justify-content-center align-items-center bg-light">
                <h3>{{ event.title }}</h3>
                <p>{{ event.description }}</p>
                <p>Date: {{ event.date }} | Start: {{ event.start_time }} | End: {{ event.end_time }}</p>
                <p>Capacity: {{ event.capacity }}</p>
                <img src="{{ event.image }}" class="fluid">
                <p> {{ event.facilitator  }}  </p> 
                {% if user.is_authenticated %}
        {% if event.id in user_bookings %}
            <button disabled>Join Pending</button>
        {% else %}
            <form method="post" action="{% url 'join_event' event.id %}">
                {% csrf_token %}
                <button type="submit">Join</button>
            </form>
        {% endif %}

        {% if request.user.user1_profile.role == 'STAFF' and event.capacity == 10 %}
        <form method="post" action="{% url 'delete_event' event.id %}">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{ event.id }}">
            <button type="submit">Delete Event</button>
        </form>
        <a href="{% url 'update_event' event.id %}" class="btn btn-primary"> Update </a>
        
    {% endif %} 
    {% endif %} 
                
            
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events available.</p>
    {% endif %}
        </div>
    </div>
</section>
{% endblock %}