{% extends 'base.html' %}
{% load static %}

{% block title %}Events Diary{% endblock %}

{% block content %}
<section class="event-list-section">
    <div class="container-fluid">
        <div class="row">
            <h1 class="main-title">YES</h1>
        </div>
        <div class="row justify-content-center align-items-center ">
            {% if events %}
    
        {% for event in events %}
            <div class="col-12 col-md-6 col-lg-4 justify-content-center align-items-center bg-light">
                <h3>{{ event.title }}</h3>
                <p>{{ event.description }}</p>
                <p>Date: {{ event.date }} | Start: {{ event.start_time }} | End: {{ event.end_time }}</p>
                <p>Capacity: {{ event.capacity }}</p>
                <img src="{{ event.image }}" class="fluid">
                <p> {{ event.facilitator  }}  </p> 
                
                {% if request.user.user1_profile.role == 'USER' %}
                <div class="mb-3 mt-3">
                    <form method="post" action="{% url 'join_event' event.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Request to Join</button>
                    </form>
            </div>
                {% endif %}
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events available.</p>
    {% endif %}
        </div>
    </div>
</section>
{% endblock %}