{% extends 'base.html' %}
{% load static %}

{% block title %}Events Diary{% endblock %}

{% block content %}
<section class="event-list-section">
    <div class="container-fluid">
        <div class="row">
            <h1 class="main-title">EVENTS</h1>
        </div>
        <div class="row justify-content-center align-items-center ">
            {% if events %}
            <div class="row">
                {% for event in events %}
                <div
                    class="event-box col-12 col-md-6 col-lg-4 align-items-center mt-5 {% cycle 'bg-yellow' 'bg-red' 'bg-pink' 'bg-blue' 'bg-orange' %}">
                    <h3 class="event-title">{{ event.title }}</h3>
                    <p>Date: {{ event.date }} | Start: {{ event.start_time }} | End: {{ event.end_time }}</p>
                    <p>Capacity: {{ event.capacity }}</p>
                    <p class="event-description"> {{ event.description|truncatechars:350 }} </p>
                    {% if user.is_authenticated %}
                    {% if event.id in user_bookings %}
                    <button disabled>Join Pending</button>
                    {% else %}
                    <form method="post" action="{% url 'join_event' event.id %}">
                        {% csrf_token %}
                        <button class="event-btn" type="submit">Join</button>
                    </form>
                    {% endif %}
                    {% endif %}


                </div>
                {% endfor %}
            </div>

            {% else %}
            <p>No events available.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}