/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* CSS Stylesheets */
@import 'event_style.css';
@import 'about_style.css';

/* Other app css files */
/* @import url('../../about/static/css/style.css'); */

/* Univeral font */
html,
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

/* Home Page */
.main-title__wrapper {
    padding-left: 3rem;
    margin-top: 5%;
    margin-bottom: 3%;
}

.main-title {
    color: #FAFAFA;
    font-size: clamp(4rem, 10vw, 8rem);
    margin: 0;
    padding: 0;
    text-align: left;
}

.hero-section {
    height: 80%;
}

.hero-section__create {
    background-image: url('../images/red-monkey-1300.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.hero-section__view {
    background-image: url('../images/pink-monkey-1300.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.create-event__btn {
    background-color: #FAFAFA;
    color: #000;
    border: none;
}

.create-event__btn:hover {
    background-color: #000;
    color: #FAFAFA;
    border: none;

}