<footer class="container-fluid pt-5 footer__wrapper">
    <div class="row justify-content-center align-items-center">
      <div
        class="col-6 gap-3 d-flex flex-lg-row flex-md-column flex-sm-column flex-column justify-content-between align-items-center footer__wrapper">
        <a href="mailto: rageroom@example.com" target="_blank" class="footer__link">Contact</a>
        <a href="https://www.google.com/maps" target="_blank" class="footer__link">Location</a>
        <a href="https://www.instagram.com" target="_blank" class="footer__link">Instagram</a>
        <button type="button" class="btn btn-primary footer__link" data-bs-toggle="modal"
          data-bs-target="#termsAndConditionsModal">
          T&amp;Cs
        </button>
      </div>
    </div>
</footer>