{% load static %}

{% url 'home' as home_url %}
{% url 'about_page' as about_url %}
{% url 'manage_bookings' as manage_bookings_url %}
{% url 'user_bookings' as user_bookings_url %}
{% url 'events-list' as events_list_url %}
{% url 'create_event' as create_event_url %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'event/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'about/css/style.css' %}">
  <title>{% block title %}{% endblock %} | Rage Rooms</title>
</head>

<body>
  <header>
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary px-5 py-3">
      <div class="container-fluid p-0">
        <a class="navbar-brand" href="{% url 'home' %}">RR</a>
        <button class="navbar-toggler navbar-dark border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse align-items-center justify-content-md-center justify-content-lg-center mb-lg-0"
          id="navbarNav">
          <ul
            class="navbar-nav mx-auto gap-3 flex-lg-row flex-column align-items-center justify-content-center text-center my-auto">
            <li class="nav-item">
              <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == about_url %}active" aria-current="page{% endif %}"
                href="{% url 'about_page' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>
            {% if user.is_authenticated and user.user1_profile.role == 'STAFF' %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == manage_bookings_url %}active" aria-current="page{% endif %}"
                href="{% url 'manage_bookings' %}"> Manage Bookings </a>
            </li>
            {% endif %}
            {% if user.is_authenticated and user.user1_profile.role == 'USER' %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == user_bookings_url %}active" aria-current="page{% endif %}"
                href="{% url 'user_bookings' %}">Event Diary</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == events_list_url %}active" aria-current="page{% endif %}"
                href="{% url 'events-list' %}">Event List</a>
            </li>
            {% if user.is_authenticated and user.user1_profile.role == 'STAFF' %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == create_event_url %}active" aria-current="page{% endif %}"
                href="{% url 'create_event' %}">Add Event</a>
            </li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" class="flex-lg-row flex-column align-items-center justify-content-center mt-lg-0 mt-3 text-center" method="post">
            {% csrf_token %}
            <button type="submit" class="btn rounded-0 nav__btn--logout mx-auto text-center">Logout</button>
          </form>
          {% else %}
          <div
            class="navbar__auth d-flex gap-3 flex-lg-row flex-column align-items-center justify-content-center mt-lg-0 mt-3">
            <a href="{% url 'register' user_type='general' %}" class="btn rounded-0 nav__btn">Register as User</a>
            <a href="{% url 'register' user_type='staff' %}" class="btn rounded-0 nav__btn">Register as Staff</a>
            <div class="login-button">
              <a href="{% url 'login' %}" class="btn rounded-0 nav__btn--login px-5">Login</a>
            </div>

            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- Main content here -->
    {% block content %}
    {% endblock %}
  </main>

  {% include 'includes/footer.html' %}

  <!-- Modal -->
  <div class="modal fade" id="termsAndConditionsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="termsAndConditionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="termsAndConditionsModalLabel">Terms and Conditions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Acceptance of Terms</h6>
          <p>By accessing and using RAGE ROOM's services, provided by Madmen Inc., you agree to be bound by these Terms
            and Conditions ("Terms"). If you do not agree to these Terms, you must not use our services.</p>

          <h6>Safety and Health</h6>
          <p>a. All participants must adhere to safety guidelines provided by RAGE ROOM.<br>
            b. Appropriate protective gear must be worn at all times during participation.<br>
            c. Participants are required to disclose any health conditions that may impact their ability to safely use
            our facilities.</p>

          <h6>Age Restrictions</h6>
          <p>a. Participants must be 18 years of age or older. Proof of age may be requested.<br>
            b. Minors aged 16 and above may participate with written consent and supervision from a parent or guardian.
          </p>


          <h6>Liability Waiver</h6>
          <p>a. Participants are required to sign a liability waiver before participating.<br>
            b. Participation is at your own risk. Madmen Inc. and RAGE ROOM are not responsible for injuries or damages
            resulting from non-compliance with our safety guidelines.</p>

          <h6>Prohibited Items</h6>
          <p>a. Personal items for destruction are not permitted unless pre-approved by RAGE ROOM.<br>
            b. The possession of illegal substances, weapons, and hazardous materials is strictly forbidden.</p>

          <h6>Cancellation and Refund Policy</h6>
          <p>a. Cancellations must be made at least 24 hours before the scheduled booking to be eligible for a
            refund.<br>
            b. Refunds will be processed according to our established refund policy.</p>

          <h6>Privacy Policy</h6>
          <p>a. Personal information collected will be managed in accordance with our Privacy Policy.<br>
            b. Participants may be photographed or filmed for promotional purposes unless they opt-out.</p>

          <h6>Property Damage</h6>
          <p>a. Deliberate damage to RAGE ROOM’s property beyond standard usage will incur repair or replacement
            charges.</p>

          <h6>Behavioural Expectations</h6>
          <p>a. Aggressive behaviour towards staff or other participants is strictly prohibited.<br>
            b. RAGE ROOM reserves the right to remove any participant who compromises the safety or enjoyment of others.
          </p>

          <h6>Amendments to Terms and Conditions</h6>
          <p>a. Madmen Inc. reserves the right to amend these Terms at any time. Continued use of our services following
            any changes constitutes acceptance of the new Terms.</p>

          <h6>Governing Law</h6>
          <p>a. These Terms are governed by the laws of the United Kingdom.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <!-- Custom JS -->
  <script src="{% static 'script.js'%}"></script>
</body>

</html>