{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2> Login </h2>
            <form method="post" class="">
                {% csrf_token %}
                {{ form.username.label_tag }} {{ form.username }}
                {{ form.password.label_tag }} {{ form.password }}
                <button type="submit" class="btn rounded-0 nav__btn--login px-5"> Login </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}