/* Event List Styles */

.event-list-section {
    margin-top: 4rem;
    padding: 2rem;
}

.event-box {
    padding: 2rem;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.event-title {
    margin-bottom: 1rem;
}

.event-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.event-description {
    line-height: 1.5;
    margin: 1rem 0;
}

.event-btn {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 3rem;
    background-color: #000;
    color: #fafafa;
    border: none;
    margin-top: 1rem;
    transition: all 0.3s linear;
}

.event-btn:hover {
    /* background-color: #202020; */
    background-color: #fafafa;
    color: #000;
    box-shadow: 0px 0px 6px 6px rgb(145, 0, 0);
    transform: scale(1.05);
    font-weight: bold;
}

.bg-yellow {
    background-color: #FFCF1A
}

.bg-red {
    background-color: #E13B2F;
    color: #fafafa;
}

.bg-pink {
    background-color: #FFDCFD;
}

.bg-blue {
    background-color: #3FA9FF;
    color: #fafafa;
}

.bg-orange {
    background-color: #FE6938;
    color: #fafafa;
}

/* User Bookings Styles */

.user-bookings-section {
    margin-top: 4rem;
    padding: 2rem;
}

.user-bookings-title {
    font-size: 3rem;
    color: #fafafa;
    padding: 0;
    margin: 0;
}

.bookings {
    min-height: 200px;
    max-height: 100%;
}

.approved-bookings {
    margin-top: 3rem;
}

/* ------------ Media Queries */

/* Event List Media Queries */
@media screen and (max-width: 550px) {
    .event-list-section {
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .event-btn {
        width: 90%;
    }
}

/* User Bookings Media Queries */
@media screen and (max-width: 992px) {
    .user-bookings-section {
        padding: 1.5rem;
    }

    .user-bookings-title {
        text-align: center;
    }
}

@media screen and (max-width: 300px) {
    .user-bookings-title {
        font-size: 2.5rem;
    }
}