/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* CSS Stylesheets */
@import 'event_style.css';
@import 'about_style.css';
@import 'gallery_style.css';

/* Other app css files */
/* @import url('../../about/static/css/style.css'); */

/* ---------------------------------------------------- Univeral font */
html,
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    overflow-x: hidden;    
}

main {
    min-height: 100vh;
    margin-bottom: 3rem;
}

/* .container,
.row {
    min-height: 100vh!important;
} */

a {
    text-decoration: none;
}

/* ---------------------------------------------------- Navbar */
.bg-body-tertiary {
    background-color: #000 !important;
}

.navbar-brand {
    font-size: clamp(2.25rem, 2vw, 3rem);
}

.nav-link,
.navbar-brand {
    color: #FAFAFA;
}

.navbar-nav .nav-link.active {
    color: #FAFAFA;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    color: #FAFAFA;
    text-decoration: underline;
}

.navbar .navbar-brand:hover {
    color: #FAFAFA;
    text-decoration: underline;
}

.nav__btn,
.nav__btn--login,
.nav__btn--logout {
    background-color: none;
    color: #FAFAFA;
    outline: none;
    border: none;
}

.nav__btn:hover {
    background-color: #3FA9FF;
    color: #FAFAFA;
    border: none;
    outline: none;
}

.nav__btn--login:hover {
    background-color: #FFDCFD;
    color: #000;
    border: none;
    outline: none;
}

.nav__btn--logout:hover {
    background-color: #E13B2F;
    color: #FAFAFA;
    outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.active {
    text-decoration: underline;
    color: #FAFAFA;
}


/* ---------------------------------------------------- Home Page */

.main-title {
    color: #FAFAFA;
    font-size: clamp(2rem, 10vw, 8rem);
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 3.5rem;
}

.hero-section__create {
    background-image: url('../images/red-monkey-1300.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.hero-section__view {
    background-image: url('../images/pink-monkey-1300.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.create-event__btn {
    background-color: #FAFAFA;
    color: #000;
    border: none;
    padding: 0.5em 2em;
    font-size: clamp(1.25rem, 2vw, 3rem);
}

.create-event__btn:hover {
    background-color: #3FA9FF;
    color: #FAFAFA;
    border: none;
}

.view-events__btn {
    background-color: #000;
    color: #FAFAFA;
    border: none;
    padding: 0.5em 2em;
    font-size: clamp(1.25rem, 2vw, 3rem);
}

.view-events__btn:hover {
    background-color: #3FA9FF;
    border: none;
}

/* ---------------------------------------------------- Manage bookings */
.booking__card {
    border-radius: 0;
    padding: 1.25rem;
}

.manage-btn__approve {
    border-radius: 0;
    display: block;
    width: 75%;
    height: 3rem;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #000;
    color: #fafafa;
    border: 0;
    margin: 1rem;
    text-decoration: none;
}

.manage-btn__delete {
    border-radius: 0;
    display: block;
    width: 75%;
    height: 3rem;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #000;
    color: #fafafa;
    border: 0;
    margin: 1rem;
    text-decoration: none;
}

.manage-btn__delete:hover {
    color: #E13B2F;
    background-color: #FAFAFA;
}

.manage-btn__approve:hover {
    color: #000;
    background-color: #FAFAFA;
}
/* ---------------------------------------------------- Footer */
.footer__wrapper {
    margin: 2rem 0;
}
.footer__link {
    color: #FAFAFA;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

footer .footer__link {
    background-color: #000;
    border: none;
}

footer .footer__link:hover,
footer .footer__link:active,
footer .footer__link:focus {
    background-color: #000!important;
    border: none!important;
}

/* ---------------------------------------------------- Forms */
form {
    margin-bottom: 1rem 0;
    min-height: 100%;
}

.form__create-event {
    min-height: 100%;
}

.form__style {
    color: #FAFAFA;
    min-height: 100%;
    width: 100%;
}

form input {
    margin: 0.5rem 0;
    height: 3rem;
    width: 100%;
}

form div,
.email-input {
    width: 100%;
}

.form-control {
    border-radius: 0;
}

form li,
.form-text {
    color: #FAFAFA;
}

/* Events list */
.event-btn__update {
    border-radius: 0;
    display: block;
    width: 50%;
    height: 3rem;
    margin: 0 auto;
    background-color: #000;
    color: #fafafa;
    border: 0;
    margin: 1rem;
    text-decoration: none;
}

.event-btn__update:hover {
    color: #000;
    background-color: #FAFAFA;
}

.event-btn__pending {
    border-radius: 0;
    display: block;
    width: 50%;
    height: 3rem;
    margin: 0 auto;
    background-color: #0000007c;
    color: #fafafa;
    border: 0;
    margin: 1rem;
    opacity: .5;
}

.event-btn__delete {
    border-radius: 0;
    display: block;
    width: 50%;
    height: 3rem;
    margin: 0 auto;
    background-color: #000;
    color: #fafafa;
    border: 0;
    margin: 1rem;
}

.event-btn__delete:hover {
    color: #E13B2F;
    background-color: #FAFAFA;
}

@media (max-width: 992px) {

    .hero-section__create,
    .hero-section__view {
        width: 100%;
    }

    .main-title {
        text-align: center;
        line-height: 4.5rem;
    }

}